In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [ ]:
cust_df = pd.read_csv("data.csv",encoding='latin1')
cust_df.head(15)

In [4]:
cust_df.shape

(541909, 8)

In [5]:
#We need to eliminate non-numeric values so that Euclidean Distance function can process data.
df = cust_df.drop(columns=['InvoiceNo','StockCode','Description','InvoiceDate','Country'],axis=1)
df.head()

   Quantity  UnitPrice  CustomerID
0         6       2.55     17850.0
1         6       3.39     17850.0
2         8       2.75     17850.0
3         6       3.39     17850.0
4         6       3.39     17850.0

In [6]:
df.shape

(541909, 3)

In [7]:
#Normalizing Data
from sklearn.preprocessing import StandardScaler
# X: Array of shape [n_samples, n_features]. (Feature Matrix)
X= df.values[:,1:]
X= np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
Clus_dataSet

array([[-0.02130135,  0.94026518],
       [-0.01262006,  0.94026518],
       [-0.01923438,  0.94026518],
       ...,
       [-0.00476555,  0.17749229],
       [-0.00476555,  0.17749229],
       [ 0.00350235,  0.17749229]])

In [8]:
#Modeling
#init: Initialization method of the centroids.
#k-means++ : Selects initial cluster centers for k-mean clustering in a more efficiently way to speed up convergence.
clusterNum = 4
c_means = KMeans(init='k-means++',n_clusters=clusterNum,n_init=12)
c_means.fit(X)
labels = c_means.labels_
labels

array([3, 3, 3, ..., 2, 2, 2])

In [9]:
df["Clus_km"] = labels
df.head(20)

    Quantity  UnitPrice  CustomerID  Clus_km
0          6       2.55     17850.0        3
1          6       3.39     17850.0        3
2          8       2.75     17850.0        3
3          6       3.39     17850.0        3
4          6       3.39     17850.0        3
5          2       7.65     17850.0        3
6          6       4.25     17850.0        3
7          6       1.85     17850.0        3
8          6       1.85     17850.0        3
9         32       1.69     13047.0        2
10         6       2.10     13047.0        2
11         6       2.10     13047.0        2
12         8       3.75     13047.0        2
13         6       1.65     13047.0        2
14         6       4.25     13047.0        2
15         3       4.95     13047.0        2
16         2       9.95     13047.0        2
17         3       5.95     13047.0        2
18         3       5.95     13047.0        2
19         4       7.95     13047.0        2

In [11]:
df.groupby('Clus_km').mean()

          Quantity  UnitPrice    CustomerID
Clus_km
0        11.380801   3.572705  15179.593629
1         1.995573   8.076577           NaN
2        13.421080   3.820472  13287.665502
3        11.488987   3.002005  17293.671201

In [ ]:

plt.scatter(X[:, 1], X[:, 2], c=labels.astype(np.float), alpha=0.5)
plt.xlabel('Quantity', fontsize=18)
plt.ylabel('UnitPrice', fontsize=16)

plt.show()